<!DOCTYPE html>
<html>
  <head>
    <title>pets-service-api</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>pets-service-api/member/signin/failure</h1>
    <p style="color: red;">failure</p>
  </body>
</html>
