<!DOCTYPE html>
<html>
  <head>
    <title>pets-service-api</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>pets-service-api/member/signin/success</h1>
    <p>success</p>
  </body>
</html>
